body {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #444444;
	font: 16px normal Verdana,Arial,Helvetica,sans-serif;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
}
/* h1 {
	margin: 0 0 10px 0;
} */
fieldset {
	width: 710px;
	float:left;
}
fieldset legend {
	font-size: 18px;
	font-weight: bold;
}
.panel {
	float: left;
	padding: 0 0 0 1em;
}
#date-controls {
	float: left;
	padding: 10px;
}
#year {
	padding: 5px;
	margin: 0 0 20px 0;
}
#month {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#month li {
	display: inline;
	padding: 7px 10px;
	margin-left: 5px;
	background-color: #ccc;
}
#month li:hover {
	background-color: #000;
	color: #fff;
}
#msg {
	padding: 0 0 0 780px;
}
#msg h3 {
	font-size: 18px;
	margin-top: 0;
}
#total {
	font-weight: bold;
}
#complete {
	color:skyblue;	
	font-weight: bold;
	padding: 10px 0 0 0;
}
#incomplete {
	color:tomato;	
	font-weight: bold;
	padding: 10px 0 0 0;
}
#map {
	width: 550px; 
	height: 500px;
}
.active {
	font-weight: bold;
}
#chart {
	width: 550px; 
	height: 500px;
	margin: 0 auto
}